.container {
  --spacing-y: 6.25rem;
  --font-size: 2.5rem;

  width: 90%;
  height: var(--spacing-y);
  font-size: var(--font-size);
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: calc(var(--spacing-y) * 0.03) solid var(--primary);
}

.logo {
  height: 100%;
}

.nav {
  font-size: 1em;
  position: relative;
}

/* ===== Laptop, Desktop ===== */
.links {
  padding-right: 0.5em;
  padding-bottom: 0.375em;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.5em;
}

/* ===== Phone, Tablet ===== */
.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  padding-top: calc(var(--spacing-y) * 0.03);
  display: flex;
  flex-direction: column;
}

.dropdown>.link {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: var(--background);
}

.dropdown>.link>a {
  padding: 0.4em 0.8em;
}

/* ===== Laptop ===== */
@media screen and (max-width: 1024px) {
  .container {
    height: calc(var(--spacing-y) * 0.9375);
    font-size: calc(var(--font-size) * 0.9375);
  }
}

/* ===== Tablet ===== */
@media screen and (max-width: 768px) {
  .container {
    height: calc(var(--spacing-y) * 0.875);
    font-size: calc(var(--font-size) * 0.875);
  }
}

/* ===== Mobile L ===== */
@media screen and (max-width: 480px) {
  .container {
    height: calc(var(--spacing-y) * 0.8125);
    font-size: calc(var(--font-size) * 0.8125);
  }
}

/* ===== Mobile S ===== */
@media screen and (max-width: 375px) {
  .container {
    height: calc(var(--spacing-y) * 0.75);
    font-size: calc(var(--font-size) * 0.75);
  }
}